[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
pylint = "*"
geoalchemy2 = "*"
psycopg2-binary = "*"
shapely = "*"
mangum = "*"

[dev-packages]
black = "*"
httpx = "*"
pytest = "*"
pytest-cov = "*"
aws-cdk-lib = "*"
constructs = "*"

[requires]
python_version = "3.11"
